= link_to t('sessions.logout'), destroy_company_session_path, :method => 'delete'
= link_to t('navigation.edit_profile'), edit_company_registration_path
= link_to t('navigation.jobs'), company_jobs_path