<footer class="site-footer">
  <div class="super-footer">
    <div class="footer-auxiliar-content">
      TM + © 2016 Vertigo. All rights reserved.
    </div>
    <ul class="footer-social-list">
      <li class="social-list-item">
        <a class="social-link" href="https://www.youtube.com/user/theduckshooow" target="_blank">YOUTUBE</a>
      </li>
      <li class="social-list-item">
        <a class="social-link" href="https://www.facebook.com/theduckshooow/" target="_blank">FACEBOOK</a>
      </li>
      <li class="social-list-item">
        <a class="social-link" href="https://www.instagram.com/iliuhaplamadeala/" target="_blank">INSTAGRAM</a>
      </li>
      <li class="social-list-item">
        <a class="social-link" href="https://www.youtube.com/user/theduckshooow" target="_blank">TWITTER</a>
      </li>
    </ul>

    <div class="footer-auxiliar-content footer-with-love">
      Made with 
      <span class="footer-pizza">Love
      </span>
       by
      <a href="https://www.vertigointeractive.co/" target="_blank" >Vertigo</a>
    </div>
  </div>
</footer>