.header-index, .secondary-navigation {
  background: $header-background;
  

  &.header-transparent {
    background: transparent;
    box-shadow: none;
    a{
      color: $header-text-color !important;
    }
    .brand {
      border-bottom: 1px solid $header-text-color;
    }

  }
  

  #navbar {
    .brand{
      padding: 10px 0 30px;
    } 
    .brand {

      a {
        width: 110px;
        margin: 0 auto;
        display: block;
      }
      img {
        width: 100%;
        display: block;
      }
    }  

  }
}

.header-index {
  @include box-shadow(0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28));
}

