$main-background: #f5f5f5;
$header-background: #263238;
$main-color: #455A64;
$max-width: 1200px;
$brand-color: #43A047;
$border-color: #E0E0E0;
$white-color: #ffffff;
$section-title-color: #616161;

$top-nav-text-color: #78909C;
$edit-border-hover: #B0bec5;
$edit-box-shadow: #CFD8DC;
$hover-color: #FAFAFA;

$header-text-color: #ECEFF1;

$red-color: #F44336;
// colors
$color-1: #f8f7ee; // light yellow
$color-2: #f05451; // red
$color-3: #29324e; // dark blue
$color-4: #ffffff; // white
$color-5: #c3c2b9; // brown - icons



// tabbed buttons 

$tabs-btn-number: 6;      // number of tab navigation links

$tabs-btn-height-S: 60px;   // tab buttons height on small devices
$tabs-btn-width-S: 60px;  // tab button width on small devices

$tabs-btn-height-M: 80px;   // tab buttons height on medium devices
$tabs-btn-width-M: 80px;  // tab button width on medium devices

$tabs-btn-height-L: 60px;   // tab buttons height on large devices
$tabs-btn-width-L: auto;  // tab button width on large devices