= render partial: 'layouts/partners_list', locals: {partners: @event.other_partners, header: t('navigation.event.titles.partners')}
= render partial: 'layouts/partners_list', locals: {partners: @event.media_partners, header: t('navigation.event.titles.media')}
