$grid-column-gutter: 1rem;

//fonts-color 
$main-font-color: #666666;
$secondary-font-color: #fffff3;

$market-main-font-color: #222;
$market-secondary-font-color: #bcbcbd;
//background-color
$footer-bg: #F4F6F6;
