.text-input-wrapper {
  position: relative;
  margin-bottom: 24px;

  label {
    font-family: $roboto;
    font-size: 14px;
    font-weight: normal;
    color: $header-background;
    line-height: 15px;
    
    abbr {
      display: none;
    }
  }
  
  input, select {
    width: 100%;
    height: 30px;
    border: none;
    background: none;
    font-family: $roboto;
    font-size: 12px;
    border-bottom: 1px solid $border-color;
    padding-left: 10px;

    &:focus {
      outline: none;
    }
  }
}

.s-radio {
  @include clearfix;
  float: right;

  label {
    display: inline-block; 
    cursor: pointer;
    position: relative;
    width: 14px;
    margin-right: 14px;
    font-size: 11px;
    font-family: $roboto;
    z-index: 1;
    float: left;
    text-align: center;

    &:last-child {
      margin-right: 0; 
    }
}

input[type=radio] {
    display: none;
}

label:before {
  z-index: 0;
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  left: 0;
  border: 2px solid $border-color;
}

input[type=radio]:checked + label:before {
  background-color: $brand-color;
  color: #f3f3f3;
  border: none;
  transition: .28s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  label {
    z-index: -1;
  }
}

  label:before {
    @include border-radius(50%);
  }
}


.error, .error_notification{
  display: block;
  font-size: 12px;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: $red-color;
}

