var newCompany = $('#new-company');
newCompany.html('#{j render partial: "recruiter/companies/newcompany"}')

\//calling customSelect method from application js
\// this will replace the default select with ul and li
customSelect();
