var editJob = $('#open-modal');
editJob.html('#{j render partial: "editjob"}')

\// calling customSelect method from application js
\// this will replace the default select with ul and li
customSelect();
